body {
	width: 100%;
	font-family: 'Nunito';
	margin: 0 auto;
}

nav {
	margin: 0 auto;
	background-color: #9eabb8;
	overflow: auto;
	box-shadow: 0 3px 4px -2px #333;
}

.logo {
	width: auto;
	height: 100px;
}

.navigation {
	padding: 0;
	margin: 0 auto;
	text-decoration: none;
	list-style-type: none;
}

li.nav {
	float: left;
	margin-top: 2.5%;
	margin-left: 0 !important;
	padding: 0 20px 0 20px;
}


li.nav.logo:first-child {
	margin-top: 0.5%;
	margin-left: 15% !important;
}

li.nav.panel {
	float: right;
}

li.nav.panel.rej {
	margin-top: 2.40%;
    margin-right: 15%;
	margin-left: 0 !important;
	display: block;
}

li.nav.panel.szukaj {
	margin-right: 0 !important;
	display: block !important;
    cursor: pointer;
}

.hover:hover {
	margin-top: 2%;
	background-color: #8c6262;
	border: 2px solid #744b4b;
	padding: 9px 20px 9px 20px;
}

a.link:hover {
	font-weight: normal;
	color: #fff;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

a.link:focus,
a.link:active {
	font-weight: normal;
	color: #fff;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

a.nav {
	display: block;
	font-weight: bold;
	font-size: 17px;
	color: black;
	text-decoration: none;
	text-align: center;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

li a {
	font-weight: bold;
	font-size: 17px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
	color: black;
	text-decoration: none;
}

li a:hover {
	font-weight: bold;
	font-size: 17px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
	color: black;
	text-decoration: none;
}

img.panel {
	display: block;
	width: auto;
	height: 32px;
	float: left;
}

span.panel {
	display: block;
	text-decoration: none;
	color: black;
	margin-top: 4%;
	float: right;
	font-weight: bold;
}

span.panel.logout {
	display: block;
	text-decoration: none;
	color: black;
	margin-top: 4%;
	float: right;
	font-weight: bold;
	font-size: 17px;
	text-align: center;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

a {
	color: black;
	text-decoration: none;
}

.carousel-caption {
	width: 200px;
	z-index: 10;
	color: #fff;
	text-align: center;
	top: 50%;
	left: 0;
	margin-left: 45%;
	bottom: auto;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

li.element {
	width: 20%;
    float: left;
	border: none;
	text-align: left;
	padding: 0 20px 0 169.5px;
}

li.element:first-child {
	margin-left: 0;
}
ul.companies{
	float: left;
    list-style-type: none;
    padding: 0;
}
img.company {
	width: auto;
	height: 130px;
	margin-top: 1%;
}

.contentspage {
	width: 100%;
	min-height: 125px;
	background-color: #576d84;
	clear: both;
	bottom: 52px;
}

h5.companiesmsg {
	text-align: center;
	margin: 0 auto;
	margin-top: 2%;
	margin-bottom: 0.5%;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
}

.carousel-inner {
	margin-top: 1px;
	box-shadow: 0 3px 4px -2px #333;
}

.stopka {
	width: 100%;
	overflow: auto;
	min-height: 30px;
	background-color: #1f2b38;
	clear: both;
	bottom: 0;
}

li.socialimg {
	margin: 0 auto;
	padding: 0 1% 0 1%;
	float: left;
	margin: 0 auto;
	text-decoration: none;
	list-style-type: none;
}

li.socialimg.firstel {
	margin-left: 7%;
}

img.social {
	margin-top: 40%;
	margin-bottom: 40%;
	width: auto;
	height: 32px;
}

li.socialtxt {
	text-decoration: none;
	list-style-type: none;
	color: #fff;
	opacity: 0.25;
	float: right;
	margin-right: 12%;
	margin-top: 1%;
}

.produkt {
	background-color: whitesmoke;
	border: 1px solid gainsboro;
	text-align: center;
	width: 23%;
	float: left;
	margin: 1%;
	position: relative;
}

.produkt img {
	max-width: 200px;
	height: 200px;
}

.produkt p {
	background-color: white;
	text-align: left !important;
	padding: 5px 40px;
	cursor: pointer;
}

.produkt span {
	background-color: silver;
	border: 2px solid darkgray;
	color: white;
	font-weight: bold;
	padding: 16px;
	border-radius: 50%;
	position: absolute;
	top: 12px;
	right: 39px;
	cursor: pointer;
}

.productslist {
	width: 100%;
	min-height: 560px;
	overflow: auto;
}

.find {
	font-weight: bold;
	font-size: 17px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
	color: black;
}

.loginpanel {
	margin-left: 10%;
}

.message {
	background-color: #fff;
	clear: both;
	bottom: 190px;
	width: 100%;
}

.hvr-fade {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	overflow: hidden;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}

.hvr-fade:hover,
.hvr-fade:focus {
	background-color: #8c6262;
	color: white;
}

.bckg {
	background-repeat: no-repeat;
	background-position-y: -120px;
	width: auto;
	height: 750px;
}

.loginform-bckg {
	background-color: #fff;
	border: 0;
	border-radius: 25px;
	-webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
	position: absolute;
	width: 400px;
	height: 350px;
	margin: 0 auto;
	top: 25%;
	left: 39%;
	opacity: 1;
}

h4.login-header {
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
	margin-left: 3%;
	margin-top: 10%;
	color: black;
	font-weight: bold;
}

input[type=text],
input[type=password] {
	border-radius: 25px;
	width: 90%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 25px;
	box-sizing: border-box;
}

input[type=text]:focus,
input[type=password]:focus {
	border: 2px solid #555;
	outline: none;
}

input[type=submit] {
	background-color: #9e9e9e;
	color: white;
	font-size: 18px;
	font-weight: bold;
	border: 2px solid #909090;
	border-radius: 25px;
	padding: 10px 30px;
	width: 90%;
	text-shadow: 1px 1px 11px #000000;
	-webkit-box-shadow: 0px -1px 28px -12px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px -1px 28px -12px rgba(0, 0, 0, 0.75);
	box-shadow: 0px -1px 28px -12px rgba(0, 0, 0, 0.75);
	cursor: pointer;
	transition-duration: 0.5s;
}

input[type=submit]:hover {
	background-color: #7c7c7c;
	border: 2px solid #666666;
}

h6.noacc {
	margin-left: 2%;
}

a.noacc:hover {
	text-decoration: none;
	color: #9b6060;
}

.signuppanel {
	margin-left: 10%;
}

.signupform-bckg {
	background-color: #fff;
	border: 0;
	border-radius: 25px;
	-webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
	position: absolute;
	width: 400px;
	height: 600px;
	margin: 0 auto;
	top: 20%;
	left: 39%;
	opacity: 1;
}

h4.signup-header {
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
	margin-left: 3%;
	margin-top: 7%;
	margin-bottom: 5%;
	color: black;
	font-weight: bold;
}

input[type=text].signup,
input[type=password].signup {
	border-radius: 25px;
	width: 90%;
	padding: 12px 20px;
	margin: 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 25px;
	box-sizing: border-box;
}

input[type=text].signup:focus,
input[type=password].signup:focus {
	border: 2px solid #555;
	outline: none;
}

input[type=submit].signup {
	background-color: #9e9e9e;
	color: white;
	font-size: 18px;
	font-weight: bold;
	border: 2px solid #909090;
	border-radius: 25px;
	padding: 10px 30px;
	width: 90%;
	text-shadow: 1px 1px 11px #000000;
	-webkit-box-shadow: 0px -1px 28px -12px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px -1px 28px -12px rgba(0, 0, 0, 0.75);
	box-shadow: 0px -1px 28px -12px rgba(0, 0, 0, 0.75);
	cursor: pointer;
	transition-duration: 0.5s;
}

input[type=submit].signup:hover {
	background-color: #7c7c7c;
	border: 2px solid #666666;
}

.kontakt {
	background-repeat: no-repeat;
	background-position-y: -120px;
	width: auto;
	min-height: 580px;
}

.kontakt-bckg {
	background-color: #fff;
	border: 0;
	border-radius: 25px;
	-webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
	position: absolute;
	width: 400px;
	height: 350px;
	margin: 0 auto;
	top: 23%;
	left: 39%;
	opacity: 1;
}

.kontakt-header {
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
	margin-left: 1%;
	margin-top: 10%;
	color: black;
	font-weight: bold;
	text-align: center;
}

.kontakt-p {
	text-align: center;
	font-size: 16px;
}

.filtr {
	min-height: 300px;
}

.marka {
	width: 25%;
	margin-right: 0;
	margin-left: 5%;
}

.cena {
	float: left;
	margin-left: 4.5%;
}

.filtr-submit {
	margin-top: 1%;
	margin-left: 4%;
	width: 12% !important;
	padding: 5px !important;
	background-color: #8c6262 !important;
	border: 3px solid #744b4b !important;
}

.filtr-submit:hover {
	background-color: #744b4b !important;
	border: 3px solid #5c3b3b !important;
}

.visibility {
	margin-left: 5%;
	background-color: #8c6262;
	color: white;
	font-size: 18px;
	font-weight: bold;
	border: 3px solid #744b4b;
	padding: 8px 15px;
	width: 90%;
	text-shadow: 1px 1px 11px #000000;
	-webkit-box-shadow: 0px -1px 28px -12px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px -1px 28px -12px rgba(0, 0, 0, 0.75);
	box-shadow: 0px -1px 28px -12px rgba(0, 0, 0, 0.75);
	cursor: pointer;
	transition-duration: 0.5s;
}

.visibility:hover {
	margin-left: 5%;
	text-decoration: none;
	background-color: #744b4b;
	border: 3px solid #5c3b3b;
}

label {
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
	font-size: 18px;
	font-weight: bold;
}

label.cena {
	margin-left: 5%;
}

.kategoria {
	margin-top: 7%;
	margin-left: 5%;
}

input.cena::-webkit-outer-spin-button,
input.cena::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin-left: 0;
}

input.cena {
	-moz-appearance: textfield;
}

img.basket {
	width: auto;
	height: 28px !important;
	position: absolute;
	bottom: 18px;
	right: 40px;
	cursor: pointer;
}

.myacc {
	display: block;
	text-decoration: none;
	color: black;
	margin-top: 5%;
	float: right;
	font-weight: bold;
	font-size: 17px;
	text-align: center;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

.account {
	min-height: 770px;
	overflow: auto;
}

div.acc-menu {
	overflow: auto;
	float: left;
	width: 280px;
	height: 580px;
	margin-top: 5%;
	margin-left: 3%;
	border: 2px solid gainsboro;
	border-radius: 30px;
	background-color: whitesmoke;
}

ul.acc-list {
	list-style-type: none;
	padding: 0;
	margin: 55px 22px;
}

.acc-h4 {
	margin-bottom: 20px;
	margin-top: 20px;
	font-weight: bold;
	cursor: pointer;
}

.acc-a {
	text-shadow: none;
	font-weight: normal;
    text-shadow: none !important;
	cursor: pointer;
}

.acc-a:hover {
	border-bottom: 2px solid #8c6262;
	text-shadow: none;
	font-weight: normal;
	font-size: 17px;
	color: black;
}
.acc-content{
    min-height: 800px;
    overflow: auto;
}
.acc-menu h3{
    margin-top: 8%;
    cursor: pointer;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}
.acc-main {
	margin: 8% 30%;
}
.acc-main h3 {
	margin-left: -26%;
}
.acc-main p {
	margin-left: -26%;
}
.accupdate-header{
	margin-left: 3% !important;
}
#accupdate-form{
	margin-left: 2% !important;
}
#accupdate-form p{
    margin-left: 0;
}
span.gender {
	float: left !important;
	position: absolute !important;
	left: 21% !important;
}
input.accupdate.gender {
	position: absolute !important;
	float: left !important;
	left: -27% !important;
}
input[type=date] {
	padding: 12px 20px;
	border-radius: 25px;
	width: 90%;
	margin: 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 25px;
	box-sizing: border-box;
}

input[type=date]:focus {
	border: 2px solid #555;
	outline: none;
}
input[type=number] {
	padding: 12px 20px;
	border-radius: 25px;
	width: 90%;
	margin: 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 25px;
	box-sizing: border-box;
}

input[type=number]:focus {
	border: 2px solid #555;
	outline: none;
}
.carousel-caption {
	width: 400px !important;
	z-index: 10;
	color: #fff;
	text-align: center;
	top: 50%;
	left: 0;
	margin-left: 40% !important;
	bottom: auto;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

li.active {
	margin-top: 2%;
	background-color: #8c6262;
	border: 2px solid #744b4b;
	padding: 9px 20px 9px 20px;
}

a.active {
	font-weight: normal;
	color: #fff;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}
select {
	border-radius: 25px;
	width: 90%;
	padding: 12px 20px;
	margin: 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 25px;
	box-sizing: border-box;
}
select:focus{
	border: 2px solid #555;
	outline: none;
}
h4.removeproduct{
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
	margin-left: 3%;
	margin-top: 10%;
	color: black;
	font-weight: bold;
}

/*------MEDIAQUERIES---------*/
@media all and (max-width: 1690px) {
    li.element {
        padding: 0 20px 0 115px;
    }
    li.socialimg.firstel {
        margin-left: 5%;
    }
    li.socialtxt{
        margin-right: 9%;
    }
    h5.companiesmsg{
        margin-top: 8%;
    }
}
@media all and (max-width: 1367px){
	li.nav.logo:first-child {
		margin-left: 10% !important;
	}
	li.nav.panel.rej {
		margin-right: 10%;
		margin-top: 2.8%;
	}
	li.nav{
		margin-top: 3%;
	}
	li.element {
		padding: 0 20px 0 82px;
	}
	li.socialimg.firstel {
		margin-left: 3%;
	}
	li.socialtxt {
		margin-right: 7%;
	}
	li.active{
		padding: 9px 20px 9px 20px !important;
		margin-top: 2.3%;
	}
	.produkt{
		width: 29%;
		margin: 2%;
	}
	.kontakt-bckg{
		top: 36% !important;
	}
	.acc-main {
		float: left;
		margin: 8% 10%;
	}
	.accupdate-header {
		margin-left: -25% !important;
	}
	#accupdate-form {
		margin-left: -25% !important;
	}
	h5.companiesmsg {
		margin-top: 11%;
	}
}

@media all and (max-width: 1281px){
	li.element {
		padding: 0 20px 0 69px;
	}

	element.style {
	}
	.carousel-caption {
		margin-left: 36% !important;
	}
	h5.companiesmsg {
		margin-top: 13.7%;
	}
}
@media all and (max-width: 1025px){
	li.nav {
		margin-top: 4%;
		padding: 0 20px 0 14px;
	}
	li.nav.logo:first-child {
		margin-left: 2% !important;
	}
	li.nav.panel.rej {
		margin-right: 4%;
		margin-top: 3.8%;
	}
	li.active{
		padding: 9px 20px 9px 20px !important;
		margin-top: 3%;
	}
	.carousel-caption {
		margin-left: 33% !important;
	}
	li.element {
		padding: 0 20px 0 25px;
	}
	li.socialimg.firstel {
		margin-left: 0;
	}
	li.socialtxt {
		margin-right: 5%;
	}
	h5.companiesmsg {
		margin-top: 24%;
	}
	.produkt {
		width: 46%;
	}
	.kontakt-bckg{
		left: 30%;
	}
}
	@media all and (max-width: 815px) {
		li.nav.logo:first-child {
			margin-left: 5% !important;
			justify-content: center;
			border: none;
		}

		li.nav {
			text-align: center;
			width: 88%;
			justify-content: center;
			align-content: center;
			margin-left: 5% !important;
			border-bottom: 2px solid black;
			border-width: 100%;
		}
		li.nav.panel.rej {
			margin-right: 7%;
			margin-top: 0;
		}
		img.panel{
			display: none;
		}
		.myacc{
			float: none;
			margin-top: 5%;
		}
		.hover:hover{
			margin-left: 5% !important;
			text-align: center;
			margin-top: 4%;
			background-color: transparent;
			border: none;
			padding: 0;
			border-bottom: 2px solid black;
		}
		a.link:hover {
			font-weight: bold;
			color: #000;
			text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
		}
		li.nav.panel.szukaj {
			margin-right: 5% !important;
			margin-top: 0;
		}
		span.panel{
			margin-right: 5%;
			float: none;
		}
		li.nav:last-child{
			margin-right: 2%;
			border: none;
		}
		#karuzela{
			display: none;
		}
		h5.companiesmsg {
			margin-top: 30.5%;
		}
		body{
			overflow-x: hidden;
		}
		li.active {
			margin-top: 4%;
			background-color: transparent;
			border: none;
			border-bottom: 2px solid black;
			padding: 0;
		}

		a.active {
			font-weight: bold;
			color: #000;
			text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
		}
		.kontakt-bckg{
			top: 55% !important;
			left: 26% !important;
		}
		.acc-main {
			position: absolute;
			float: left;
			margin-top: 8%;
			margin-left: 52%;
			margin-right: 1%;
		}
		.acc-content {
			min-height: 900px;
		}
		li.element:first-child {
			margin-left: 6% !important;
		}
		li.element {
					 border-bottom: 2px dashed #1f2b38;
					 padding: 0;
					 width: 90%;
					 text-align: center;
					 margin-left: 6% !important;
		}
		li.element:last-child{
			border-bottom: none;
		}
		li.socialtxt {
			margin-top: 2.5%;
		}
	}
@media all and (max-width: 801px){
	.produkt {
		width: 90%;
		margin-left: 5%;
	}
	.visibility {
		margin-left: 39%;
	}
	.visibility:hover {
		margin-left: 39%;
	}
	.acc-main{
		margin-left: 56%;
	}
	li.active{
		padding: 0 !important;
	}
	.kontakt-bckg {
		top: 52% !important;
	}
	li.nav.panel.szukaj {
		display: none !important;
	}
	li.nav.panel.rej {
		border: none;
		margin-bottom: 2%;
	}
	.acc-main {
		margin-left: 64%;
	}
}
@media all and  (max-width: 461px){
	li.socialimg.firstel {
		margin-left: 31%;
	}
	li.socialtxt {
		margin-top: 0.5%;
		margin-bottom: 2%;
		margin-right: 11%;
	}
	li.nav.panel.rej {
		display: none !important;
	}
	li.nav:nth-child(4){
		border: none !important;
		margin-bottom: 2%;
	}
	.kontakt-bckg {
		top: 38% !important;
		left: 5% !important;
	}
}
